/* li:nth-child(odd){
    color: red;
  }
  li:nth-child(even){
    color: green;
  }
  #a{
    margin-top: -10px;
  }
  .App{
    text-align: center;
    margin-top: 10px;
    margin-left: 450px;
    color: black; border: solid 1px;
    height: 500px;
    width: 500px;
    box-shadow: 2px 2px 10px;
  }  
  .a{font-size: 20px;} */
  .App{ text-align: center;}